body {
  background-image: url(../imgs/Background-photo.bmp);
  background-position: center center;
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: cover;
  background-color:#464646;
}

/* Para dispositivos Móbiles */
@media only screen and (max-width: 767px) {
  body {
    
    background-image: url(.../imgs/Background-index-tablets.bmp);
  }
}
/* Para Tables */
@media only screen and (max-width: 1535px) {
  body {
    
    background-image: url(../imgs/Background-index-moviles.bmp);
  }
}